.hands {
  padding-top: 2em;
  max-width: 1366px;
  min-height: 30em;
  margin: 2em auto;
  position: relative;
}

.triangle {
  position: absolute;
  right: 50%;
  top: 30%;
  transform: translateX(55%) scale(130%);
}

.hands-selected {
  padding: 2em;
  min-height: 30em;
  margin: 2em auto;
  position: relative;
  display: grid;
}

.onload {
  max-width: 800px;
  grid-template-columns: repeat(2, 1fr);
}

.results {
  max-width: 1000px;
  grid-template-columns: repeat(3, 1fr);
}

.hands-selected-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.hands-selected-title {
  font-size: 1.5em;
  text-align: center;
  color: white;
  grid-column: 1 / 2;
  letter-spacing: 0.2em;
}

.house-unselected {
  width: 16em;
  height: 16em;
  background-color: hsl(237, 49%, 15%);
  border-radius: 100%;
}

.hands-selected-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5em;
}

.hands-selected-score-title {
  font-size: 3.8em;
  text-align: center;
  color: white;
  grid-column: 1 / 2;
  margin-bottom: 0.3em;
}

.hands-selected-score-button {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 0.6rem;
  background-color: white;
  padding: 0.5em 2em;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.hands-selected-score-button:hover {
  transform: scale(105%);
}
