.absolute {
  position: absolute;
  right: 50%;
  top: 30%;
  transform: translateX(8em);
}

.weapon {
  border: solid 1em;
  padding: 2em;
  background-color: aliceblue;
  border-radius: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.weapon:hover {
  opacity: 95%;
}

.red {
  border-color: hsl(349, 70%, 56%);
  box-shadow: 0 0.5em hsl(349, 71%, 52%), inset 0 0.4em hsl(217, 16%, 80%);
}

.blue {
  border-color: hsl(230, 89%, 65%);
  box-shadow: 0 0.5em hsl(230, 89%, 62%), inset 0 0.4em hsl(217, 16%, 80%);
}

.yellow {
  border-color: hsl(40, 84%, 53%);
  box-shadow: 0 0.5em hsl(39, 89%, 49%), inset 0 0.4em hsl(217, 16%, 80%);
}

.purple {
  border-color: hsl(261, 72%, 63%);
  box-shadow: 0 0.5em hsl(261, 73%, 60%), inset 0 0.4em hsl(217, 16%, 80%);
}

.cyan {
  border-color: hsl(189, 58%, 57%);
  box-shadow: 0 0.5em hsl(189, 59%, 53%), inset 0 0.4em hsl(217, 16%, 80%);
}

/*
hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)*/

/* NORMAL POSITION RULES */
.right {
  width: 8em;
  height: 8em;
  transform: translateX(170px) translateY(-140px);
}

.left {
  width: 8em;
  height: 8em;
  transform: translateX(-170px) translateY(-140px);
}

.center {
  width: 8em;
  height: 8em;
  transform: translateY(140px);
}

.weapon-kind {
  width: 5em;
  height: 5em;
}

.weapon-selected {
  transform: scale(150%);
}

/* BONUS POSITION RULES */

.top {
  width: 8em;
  height: 8em;
  transform: translateY(-160px);
}

.top-left {
  width: 8em;
  height: 8em;
  transform: translateX(-230px) translateY(-10px);
}

.top-right {
  width: 8em;
  height: 8em;
  transform: translateX(230px) translateY(-10px);
}

.bottom-left {
  width: 8em;
  height: 8em;
  transform: translateX(-150px) translateY(250px);
}

.bottom-right {
  width: 8em;
  height: 8em;
  transform: translateX(150px) translateY(250px);
}

@media (max-width: 768px) {
  .absolute {
    top: 20%;
    transform: translateX(6.5em);
  }
  .weapon {
    padding: 1.5em;
    border-radius: 100%;
    border-width: 0.6em;
  }

  /* NORMAL POSITION RULES */
  .right {
    width: 2.7em;
    height: 2.7em;
    transform: translateX(55px) translateY(-50px);
  }

  .left {
    width: 2.7em;
    height: 2.7em;
    transform: translateX(-145px) translateY(-50px);
  }

  .center {
    width: 2.7em;
    height: 2.7em;
    transform: translateX(-50px) translateY(140px);
  }
  .weapon-kind {
    width: 2.5em;
    height: 2.5em;
  }
  .weapon-selected {
    transform: scale(80%);
  }

  /* BONUS POSITION RULES */
  .top {
    width: 2em;
    height: 2em;
    transform: translateX(-50px) translateY(-65px);
  }

  .top-left {
    width: 2em;
    height: 2em;
    transform: translateX(-175px) translateY(20px);
  }

  .top-right {
    width: 2em;
    height: 2em;
    transform: translateX(65px) translateY(20px);
  }

  .bottom-left {
    width: 2em;
    height: 2em;
    transform: translateX(-135px) translateY(170px);
  }

  .bottom-right {
    width: 2em;
    height: 2em;
    transform: translateX(10px) translateY(170px);
  }

  .weapon-bonus {
    width: 2em;
    height: 2em;
  }
}
