.absolute {
  position: absolute;
  right: 50%;
  top: 30%;
  transform: translateX(8em);
}

.weapon {
  border: solid 1em;
  padding: 2em;
  background-color: aliceblue;
  border-radius: 100%;
  width: 8em;
  height: 8em;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.weapon:hover {
  opacity: 95%;
  width: 8.2em;
  height: 8.2em;
}

.red {
  border-color: hsl(349, 70%, 56%);
  box-shadow: 0 0.5em hsl(349, 71%, 52%), inset 0 0.4em hsl(217, 16%, 80%);
}

.blue {
  border-color: hsl(230, 89%, 65%);
  box-shadow: 0 0.5em hsl(230, 89%, 62%), inset 0 0.4em hsl(217, 16%, 80%);
}

.yellow {
  border-color: hsl(40, 84%, 53%);
  box-shadow: 0 0.5em hsl(39, 89%, 49%), inset 0 0.4em hsl(217, 16%, 80%);
}

.purple {
  border-color: hsl(261, 72%, 63%);
  box-shadow: 0 0.5em hsl(261, 73%, 60%), inset 0 0.4em hsl(217, 16%, 80%);
}

.cyan {
  border-color: hsl(189, 58%, 57%);
  box-shadow: 0 0.5em hsl(189, 59%, 53%), inset 0 0.4em hsl(217, 16%, 80%);
}

/*
hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)*/

/* NORMAL POSITION RULES */
.right {
  transform: translateX(170px) translateY(-140px);
}

.left {
  transform: translateX(-170px) translateY(-140px);
}

.center {
  transform: translateY(140px);
}

.weapon-kind {
  width: 5em;
}

.weapon-selected {
  transform: scale(150%);
}

/* BONUS POSITION RULES */

.top {
  transform: translateY(-160px);
}

.top-left {
  transform: translateX(-230px) translateY(-10px);
}

.top-right {
  transform: translateX(230px) translateY(-10px);
}

.bottom-left {
  transform: translateX(-150px) translateY(250px);
}

.bottom-right {
  transform: translateX(150px) translateY(250px);
}
