.pentagon {
  position: absolute;
  right: 50%;
  top: 30%;
  transform: translateX(55%) scale(130%);
}

.bonus {
  padding-top: 2em;
  max-width: 1366px;
  min-height: 40em;
  margin: 2em auto;
  position: relative;
}

.bonus-selected {
  padding-top: 2em;
  min-height: 40em;
  margin: 2em auto;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 6em;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .pentagon {
    top: 10%;
    transform: translateX(50%) scale(80%);
  }
  .bonus {
    padding-top: 0em;
    min-height: 25em;
  }
  .bonus-selected {
    min-height: 29em;
    padding-top: 0;
    margin: auto;
    gap: 1em;
  }
}
